[submodule "module/libmemory"]
	path = module/libmemory
	url = https://github.com/fishjump/osdevc_libmemory.git
[submodule "module/libstdcxx"]
	path = module/libstdcxx
	url = https://github.com/fishjump/osdevc_libstdcxx.git
